*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box; 
    

}
#cv-form{
    margin-top: 100px;
}

#cv-template{
    display: none;
    
}
.background{
    background-color:navy;
    color: white;
}

.myimg{
    border-radius: 100%;
    width: 100px;
}
.weField{
    margin-top: 2px;
}
.aqField{
    margin-top: 2px;
}
.prField{
    margin-top: 2px;
}
#tlink, #tgithub {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    
}
